body {
    background-color: #ffffff;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    font-family: serif;
    text-align: center;
}

h2 {
   font-family: monospace;
    text-align: center;
    color: darkslateblue;
}

p {
  font-family: monospace;
  
}

img {
  width: 250px;
    
}

hr { color: dimgrey;}



